.c-card {
    background: #ffffff;
    box-shadow: 0 20px 50px -12px rgba(62, 44, 28, 0.15);
}

.c-card-title {
    font-weight: 600; 
    line-height: 1;
}

.c-card-desc {
    font-size: 0.875rem;
    line-height: 1.25rem; 
}